body {
  font-family: "Wix Madefor Text", sans-serif;
  color: rgb(36, 36, 36);
  background-color: #fffefd;
}

button > * {
  pointer-events: none;
}

.ql-editor {
  padding: 0px;
  min-height: 30px;
  margin : 0px;
  overflow-x: hidden;
}

.ql-editor:active {
  padding: 0px;
}

.ql-blank, .ql-blank:active{
  min-height: 100px;
  padding-left : 5px;
}


::selection {
  background-color: #f97316;
  color : white;
}

/* App.css */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
