#Post_Frame {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

#Post {
    display: grid;
    grid-template-columns: .4fr 1fr;
    gap : 3rem;
    margin-left: 15px;
    margin-right: 15px;
}

img {
    max-width: 100%;
    border-radius: 12px;
}

img:hover {
    cursor: pointer;
}

#Post_Iamge, #Post_Text, #Post_Author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Post_Text > h3 {
    font-size : 16px;
    font-weight: 500;
}

#Post_Text > p {
    text-align: justify;
    font-size : 12px;
}

#Post_Text {
    flex-direction: column;
    align-items: start;
}

#Post_Author {
    margin-top : 5px;
    margin-bottom: 5px;
}

#Post_Author > p{
    margin-right: 5px;
    margin-left: 5px;
    color : rgb(103, 100, 100);
}

.Author {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    #Post {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}