.LoginOrSignUp {
    border-radius : 15px;
    max-width : 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.OuterLogin {
    padding : 20px;
    border : 2px solid #000000;
    border-radius : 10px;
    margin : 30px 0px;
}

.Header {
    font-size : 25px;
    margin : 30px 0px;
    font-weight: 500;
}

.SLB {
    border : 1px solid gray;    
    margin : 15px;
    padding : 5px 15px;
    border-radius: 8px;
}

.Gmail-form, .ResetForm, .FinalForm, .CodeSender, .SignUp, .Login, .forgetpasscode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    border : 2px solid gray;
    padding : 6px 12px;
    margin: 15px 0px;
    border-radius: 6px;
    width: 300px;
}

.input:focus {
    border : none;
}

.Submit {
    border : 1px solid gray;
    padding : 5px 20px;
    border-radius: 6px;
    margin : 15px 0px;
}

.Submit:hover {
    background-color: gray;
    color : white;
}

.forgetpasscode {
    width: 300px;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
}

.forget, .Return {
    color : rgb(53, 53, 211);
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

.forget:hover , .Return:hover, .newuser:hover {
    text-decoration: underline;
}

.SignUp > h1 , .Login > h1{
  font-size: 18px;  
  margin : 15px 0px;
  font-family: 'Fira Code';
}

.newuser {
    color : red;
    font-weight: 500;
    margin : 10px 0px;
}